# RabbitMQ connection (provided by the course)
RABBITMQ_HOST=213.199.42.57
RABBITMQ_PORT=5672
RABBITMQ_USER=students
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/

# Restaurant service
APP_HOST=0.0.0.0
APP_PORT=8000

# Rewards service
REWARDS_DB_PATH=rewards.db
